---
title: Projects-NaughtyBall
project: NaughtyBall
---
  <div class="container">
  </div>

  <div class="project-container">
    <h1>Project: NaughtyBall</h1>
    <br><center>
 
  </div>
  <div class="recent-posts">
  <h1>Recent Posts</h1>
  {% for post in site.posts %}
  	{% if post.project == page.project%}
    <ul class="homepage-posts {{ add_class }}">
      <li>
        <span>
          <h4>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
            {{ fresh_tag }}
            <time class="pull-right">
              {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
            </time>
          </h4>
        </span>
      </li>
    </ul>
    {% endif %}
  {% endfor %}
</div>



