---
title: All Posts
---
<!-- <div class="container">
  <div id="article">
  <h1>Archive</h1>
  <ul class="posts">
    {% for post in site.posts %}
    <li><span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</h4></time></span></span></li>
    {% endfor %}
  </ul>
</div> -->


  <div class="container">
  </div>

  <div class="project-container">
    <h1>Posts</h1>
    <p>Tech posts, project update and cute stories</p>
    <br><center>
 <!--    <a href="#"><span class="label label-danger">Tech posts</span></a>
    <a href="#"><span class="label label-danger light">Project updates</span></a></center> -->
  </div>

  <!-- <div class="container"> -->
  	<div id="article">
  	<ul class="posts">
    {% assign all_posts = site.posts | sort: 'last_update' %}
   	 {% for post in all_posts reversed%}
   	 <li><span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time class="pull-right post-list">{{ post.date | date_to_string | date: "%b 	%-d, %Y"  }}</h5></time></span></span></li>
   	 {% endfor %}
    </ul>
  <!-- </div> -->

  