  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Hello! 您好! Wie geht's! これが KK6NQC!</h1>
      <h2>I am Hengjiu Kang, and I received my bachelor's degree in Electrical Engineering from University of California, Davis. Now I am working at <a href="https://robby.io"> Robby Technologies</a> as a system integration engineer.
      <hr />
      I am particularly interested in building stuff and like both hardware and software. On this site, you can find my technical posts, project showcases as well as my footprints.
    </div>
  </div>
  <div class ="container">
